@font-face {
    font-family: 'myLuckiestGuy-Regular';
    src: url('fonts/luckiestGuy-Regular.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    background-image: url('img/3. Background/undersea.png');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-family: 'myLuckiestGuy-Regular', Arial, Helvetica, sans-serif;
}

main {
    position: relative;
}

h1 {
    font-size: 48px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 20px;
    border: 4px solid;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #bf067f;
}

#icon_full_screen, #icon_exit_full_screen {
    width: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
}

#icon_full_screen:hover, #icon_exit_full_screen:hover {
    transition: all 225ms ease-in-out;
    cursor: pointer;
    transform: scale(1.2);
}

#icon_sound_off, #icon_sound_on {
    width: 30px;
    position: absolute;
    right: 65px;
    top: 15px;
}

#up_button {
    width: 30px;
    position: absolute;
    left: 50px;
    top: 270px;
}

#left_button {
    width: 30px;
    position: absolute;
    left: 10px;
    top: 300px;
}

#down_button {
    width: 30px;
    position: absolute;
    left: 50px;
    top: 330px;
}

#right_button {
    width: 30px;
    position: absolute;
    left: 90px;
    top: 300px;
}

#icon_sound_off:hover, #icon_sound_on:hover {
    transition: all 225ms ease-in-out;
    cursor: pointer;
    transform: scale(1.2);
}

.attack_btn {
    font-size: 25px;
    position: absolute;
    top: 310px;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 12px;
    padding: 6px;
    background-color: #bf067f;
    color: white;
    
}

.attack_btn1 {
    right: 120px;
}

.attack_btn2 {
    right: 75px;
}

.attack_btn3 {
    right: 30px;
}

.d-none {
    display: none !important;
}



.containerStartScreen {
    background-image: url('img/3. Background/Dark/completo.png');
    background-size: cover;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.imageSharkie {
    width: 400px;
    padding-bottom: 80px;
}

.imageDeadSharkie {
    height: 400px;
    padding: 0;
    margin-top: -100px;
    margin-bottom: 100px;
}

.gameOver {
    margin-top: -230px;
    margin-bottom: 100px;
}

.gameOver img {
    width: 400px;
}

.containerWonScreen {
    background-image: url('img/6.Botones/Tittles/You win/Mesa de trabajo 1.png');
    background-size: cover;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerLostScreen {
    background-image: url('img/3. Background/Dark/completo.png');
    background-size: cover;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerTurnScreen {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding-left: 8px;
        padding-right: 8px;
        text-align: center;
        height: 100vh;
        width: 100vw;
        background-color: black;
        color: white;
        font-size: 24px;
        font-weight: bold;
    }

.containerBtn {
    display: flex;
    flex-direction: column;
}


.btnStartScreen, .btnRestartScreen {
    height: 95px;
    width: 300px;
    padding-bottom: 50px;
}

.btnRestartScreen {
    height: 95px;
    width: 300px;
    position: relative;
    top: 190px;
    left: 190px;
    /* padding-bottom: 50px; */
}

.btnStartScreen:hover {
    transition: all 225ms ease-in-out;
    cursor: pointer;
    transform: scale(1.1);
}

.description {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: white;
    font-size: 24px;
    margin-top: -80px;
    margin-bottom: 30px;
}

canvas {
    background-color: black;
    display: block;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100vw;
        ;
    }

    h1 {
        display: none;
    }

    .containerLostScreen, .containerWonScreen, .containerStartScreen {
        width: 100vw;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    .containerLostScreen, .containerWonScreen, .containerStartScreen {
        height: 100vh;
    }

    .imageDeadSharkie {
        height: 300px;
        padding: 0;
        margin-top: -50px;
        margin-bottom: 115px;
    }

    .btnRestartScreen {
        height: 95px;
        width: 250px;
        position: relative;
        top: 150px;
    }
    
    .btnStartScreen {
        width: 200px;
        height: 70px;
        padding-bottom: 0;
    }

    .imageSharkie {
        padding-bottom: 50px;
    }
}
